In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("Z:/dataset/CRSP/a_ccm/ccmxpf_lnkhist")
df.shape
df.head(3)

(117005, 8)

   GVKEY LINKPRIM LIID LINKTYPE  LPERMNO  LPERMCO    LINKDT LINKENDDT
0   1000        C  00X       NU      NaN      NaN  19610101  19700929
1   1000        P   01       NU      NaN      NaN  19700930  19701112
2   1000        P   01       LU  25881.0  23369.0  19701113  19780630